{% extends "layout.html" %}

{% block bannercontent %}
<!-- Banner -->

{% include 'components/navbar.html' %}
{% include 'components/main-banner.html' %}

{% if can_edit_compound %}
<div class="container w-50 p-3 d-flex justify-content-end">
  <a class="btn btn-primary" href="{{ url_for('compounds.edit_compound', id=compound.id) }}">
    Edit Compound
  </a>
</div>
{% endif %}

<div class="container w-50 p-3">
    <table class="table table-bordered">
      <tbody>
          <tr>
              <th scope="row">Compound Name</th>
              <td>{{ compound.compound_name }}</td>
          </tr>
          <tr>
              <th scope="row">Compound Image</th>
              <td>
                  {% if compound.compound_image %}
                  <img src="{{ url_for('static', filename=compound.compound_image) }}" alt="Compound Image">
                  {% else %}
                  No image available
                  {% endif %}
              </td>
          </tr>
          <tr>
              <th scope="row">SMILES</th>
              <td>{{ compound.smiles }}</td>
          </tr>
          <tr>
            <th scope="row">InChI</th>
            <td>{{ compound.inchi }}</td>
        </tr>
          <tr>
            <th scope="row">InChI Key</th>
            <td>{{ compound.inchi_key }}</td>
        </tr>
        <tr>
          <th scope="row">MW</th>
          <td>{{ compound.exact_molecular_weight}}</td>
      </tr>
        <tr>
          <th scope="row">PubChem Id</th>
          <td>{{ compound.pubchem_id }}</td>
      </tr>
          <tr>
              <th scope="row">User</th>
              <td>{{ compound.account.username }}</td>
          </tr>
          <tr>
              <th scope="row">Created At</th>
              <td>{{ compound.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
          </tr>
          <tr>
              <th scope="row">Articles</th>
              <td>
                  <ul>
                    {% for article_id, article_doi in articles %}
                    <li><a href="{{ url_for('main.article', article_id=article_id) }}">{{ article_doi }}</a></li>
                {% endfor %}
                  </ul>
              </td>
          </tr>
          <tr>
              <th scope="row">Journal</th>
              <td>{{ compound.journal or '-' }}</td>
          </tr>
          <tr>
              <th scope="row">Taxa</th>
              <td>
                  {% for taxon in compound.related_taxa %}
                  {{ taxon.verbatim }}{% if not loop.last %}, {% endif %}
                  {% else %}
                  -
                  {% endfor %}
              </td>
          </tr>
      </tbody>
  </table>
  <h2>Groups</h2>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Shared With</th>
        <td>
          {% if linked_groups %}
          <ul class="mb-0">
            {% for group in linked_groups %}
            <li>{{ group.name }}</li>
            {% endfor %}
          </ul>
          {% else %}
          No groups
          {% endif %}
        </td>
      </tr>
      {% if can_manage_compound_groups %}
      <tr>
        <th scope="row">Add to Group</th>
        <td>
          {% if available_groups %}
          <form method="POST" action="{{ url_for('groups.add_compound', compound_id=compound.id) }}" class="row g-2">
            {{ compound_group_form.hidden_tag() }}
            <div class="col-md-8">
              {{ compound_group_form.group_id(class="form-select") }}
            </div>
            <div class="col-md-4">
              {{ compound_group_form.submit(class="btn btn-outline-primary w-100") }}
            </div>
          </form>
          {% else %}
          No available groups
          {% endif %}
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <h2>Additional Information - NP Classifier</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">Pathway</th>
            <td>{{ compound.pathway_results if compound.pathway_results else "-" }}</td>
        </tr>
        <tr>
            <th scope="row">Class</th>
            <td>{{ compound.class_results if compound.class_results else "-" }}</td>
        </tr>
        <tr>
            <th scope="row">Superclass</th>
            <td>{{ compound.superclass_results if compound.superclass_results else "-" }}</td>
        </tr>
        <tr>
            <th scope="row">Is Glycosid</th>
            <td>{{ "Yes" if compound.isglycoside else "No" }}</td>
        </tr>
        <tr>


    </tbody>
</table>
</div>

{% include 'components/footer.html' %}

{% endblock %}
